<h1>Films</h1>
<div class="wrap">
  <app-movies-list *ngFor="let film of films" [film]="film"></app-movies-list>
</div>
<div class="pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngIf="pagination.page>1" class="page-item" (click)="back()"><a class="page-link" [routerLink]="">Previous</a>
      </li>
      <li class="page-item"><a class="page-link">{{pagination.page}}</a></li>
      <li *ngIf="pagination.page<pagination.total" class="page-item" (click)="next()"><a class="page-link">Next</a></li>
    </ul>
  </nav>
</div>


