<h1>Films</h1>
<div class="wrap">
  <app-movies-list *ngFor="let film of films" [film]="film"></app-movies-list>
</div>
<div class="pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" [routerLink]="">Previous</a></li>
      <li class="page-item"><a class="page-link" >1</a></li>
      <li class="page-item"><a class="page-link" >2</a></li>
      <li class="page-item"><a class="page-link" >3</a></li>
      <li class="page-item"><a class="page-link" >Next</a></li>
    </ul>
  </nav>
</div>


